{% extends 'base.html' %}



{% block content %}

<br>
<br>

<div class="form">
  <form method="post" class="form">

    <h1>Delete Account</h1>
    <p> To confirm that you want to delete your account,
      please enter your username and password</p>
      {%for msg in get_flashed_messages() %}
          <p class="error_msg">{{msg}}</p>
      {% endfor %}
      {%for msg in form.errors.items() %}
          <p class="error_msg">{{msg[1][0]}}</p>
      {% endfor %}
	  {{ form.csrf_token }}

	<br>
  <div class="form-group">
  {{ form.username.label }} {{ form.username(class_="form-control", size=20) }}
  </div>

	<div class="form-group">
	{{ form.password.label }} {{ form.password(class_="form-control", size=20) }}
	</div>

	<div class="form-group">
    <input class="form-control" type="submit" name="update" value="Delete Account">
	</div>
  </form>
</div>

{% endblock %}
